/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f8;
    color: #333;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39c12;
}

.hero {
    text-align: center;
    width: 100%;
    background-color: red;
    height: 90vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-image:url('syaira1.jpg');
  flex-direction: column;
    color: #ffffff;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #f39c12;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    background-size: cover;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: babyblue;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
}
